extends layout
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/post-show.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.post-show
    if (locals.user && locals.user.id === comment.user.id)
      span.post-asterisk= `*`
    else
      span.post-triangle= `▲`
    span.post-title= `${comment.text}`
    span.post-subtext= `by ${comment.user.username} | ${comment.createdAt.getHours()}:${comment.createdAt.getMinutes()} ${comment.createdAt.toDateString().slice(4)}`
  form.new-comment-form(action="/comments/new" method="post")
    +validationErrorSummary(errors)
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='hidden' name='commentId' value=comment.id)
    textarea(name="text").new-comment-textarea
    button.new-comment-submit(type="submit") add comment