extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  ol.posts-ol
    each post in posts
      li.post-li
        span.post-triangle= `▲`
        a(href=post.url target="new")
          span.post-title= `${post.title}`
        span.post-url
          a(href=post.url target="new")= `(${post.url.split("/")[2]})`
        div.post-subtext-div
          span.post-subtext= `by ${post.user.username} ${post.createdAt.toDateString()}`