extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/post-show.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.post-show
    if (locals.user && locals.user.id === post.user.id)
      span.post-asterisk= `*`
    else
      span.post-triangle= `▲`
    a.title-link(href=post.url target="new")
      span.post-title= `${post.title}`
    a.post-url(href=post.url target="new")= `(${post.url.split("/")[2]})`
    div.post-subtext-div
      span.post-subtext= `by ${post.user.username} | ${post.createdAt.getHours()}:${post.createdAt.getMinutes()} ${post.createdAt.toDateString().slice(4)}`
  form.new-comment-form
    textarea.new-comment-textarea
    button.new-comment-submit(type="submit") add comment
  for comment in post.comments
    p= comment.text