extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/post-delete.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  span.post-triangle= `▲`
  a(href=post.url target="new")
    span.post-title= `${post.title}`
  span.post-url
    a(href=post.url target="new")= `(${post.url.split("/")[2]})`
  div.post-subtext-div
    span.post-subtext= `by ${post.user.username} | ${post.createdAt.getHours()}:${post.createdAt.getMinutes()} ${post.createdAt.toDateString().slice(4)}`

  form.new-post-form(action=`/posts/${post.id}/delete` method='post')
    h1 Delete Post?
    if (locals.authenticated && ((post.user.id === locals.user.id) || (locals.user.username === 'tombetthauser')))
      input(type='hidden' name='_csrf' value=csrfToken)
      p Are you sure you want to delete this post?
      button(type='submit' class='btn btn-primary') delete
      a(href=`/posts/${post.id}` class='btn btn-warning ml-2') cancel
      p.footer-p ** note: post and all comments will be gone forever